SERVER_HOST="0.0.0.0"
SERVER_PORT="8080"

####################################################
#                   DB Settings
####################################################
DB_USER="root"
DB_PASSWORD="root"
DB_DATABASE="whalebone_microservice"
DB_HOST="db"
DB_PORT="5432"