####################################################
#                   DB Settings
####################################################
DB_USER="root"
DB_PASSWORD="root"
DB_DATABASE="whalebone_microservice"
DB_HOST="whalebone_microservice_postgres"
DB_PORT="5432"